/* flexiTable.css */
:root {
    --ftbl-border-color: #ccc;
    --ftbl-border-width: 1px;  
    --ftbl-row-height: 2.2em; 
    --ftbl-header-background-color: #f2f2f2;
    --ftbl-toolbar-background-color: #fdfdfd;
    --ftbl-first-column-width: 20em;
}

.ftbl-table-wrapper {
    padding: 4px;
}

.ftbl-table {
    border: solid var(--ftbl-border-width) var(--ftbl-border-color);
    border-collapse: collapse;
}

.ftbl-header {
    border-bottom: solid var(--ftbl-border-width) var(--ftbl-border-color);
}

.ftbl-header-row {

    border-collapse: collapse;
    background-color: var(--ftbl-header-background-color);
}

.ftbl-header-group-cell {
    text-align: center;
    font-size: .9em;
    color: #444;
}
.ftbl-header-column-cell {
    text-align: center;
    font-size: .9em;
    color: #666;
    overflow: hidden;
}

.ftbl-row-level-1-expanded {
    background-color: #f5f5f5;
    font-weight: bold;
}
.ftbl-row-level-2-expanded {
    font-weight: bold;
}

.ftbl-value-cell {
    text-align: right;
    padding-right: 7px;
    width: 4.5em; /* Default width for most cells */
}

.ftbl-rightmost-cell-in-group {
    border-right: solid var(--ftbl-border-width) var(--ftbl-border-color);
}

.ftbl-name-cell {
    display: flex;
    align-items: center;
    text-align: left; 
    height:var(--ftbl-row-height);
    width: var(--ftbl-first-column-width); /* Default width for name cell */
    min-width: calc(var(--ftbl-first-column-width) - 5em);
    border-right: solid var(--ftbl-border-width) var(--ftbl-border-color);
    overflow: auto;
}

.ftbl-inner-content {
    display: flex;
    align-items: center;
    flex: 1; /* Take available space */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
    padding-left: 5px; /* Default padding */
}


.ftbl-data-row {
   height: var(--ftbl-row-height);
}

.ftbl-caret {
    height: 14px;
    fill: #555;
    cursor: pointer; /* Optional: adds a pointer cursor on hover */
    margin-right: 5px;
    flex-shrink: 0;
}

.ftbl-caret:hover {
    fill: #000;
}

.ftbl-entity-icon{
    margin-right: 5px;
}
.ftbl-user-wrapper{
    display: flex;
    align-items: center;
    justify-content: left;
}
.ftbl-user-placeholder{
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.ftbl-user-name{
    margin-left: 3px;
}
.ftbl-user-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    text-align: center;
    color: #000;
    font-size: .8em;
    padding: .2em;
    background-color: #EBEBEB ;
    text-transform: uppercase;
    border: 1px solid #9c9c9c ;
}

.ftbl-caret-toggle-all {
    height: 15px;
    cursor: pointer;
    margin: 0 2px;
    fill: #444;
}
.ftbl-caret-toggle-all-enabled {
    cursor: pointer;
    fill: #444
}

.ftbl-caret-toggle-all-disabled {
    cursor: default;
    fill: #999
}

.ftbl-header-toolbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 10px;
    flex-wrap: wrap;
    max-width: calc(var(--ftbl-first-column-width) );
}

.ftbl-toolbar-set-wrapper{
    border: solid var(--ftbl-border-width) var(--ftbl-border-color);
    border-radius: 3px;
    padding: 2px;
    height: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 23px;
    background-color: var(--ftbl-toolbar-background-color);
}

.ftbl-icon-separator{
    width: 1px;
    margin: 0 0.4em;
    border-right: solid 1px #ccc;
    height: 14px;
}

.ftbl-toolbar-icon {
    height: 15px;
    fill:#666; 
}
.ftbl-toolbar-icon:hover {
    fill:#333; 
}


.ftbl-header-column-cell:first-child div:hover svg path {
    fill: #888; /* Darker or different color on hover */
}
