/* flexiTable.css */
:root {
    --ftbl-border-color: #ccc;
    --ftbl-border-width: 1px;  
}

.ftbl-table-wrapper {
    padding: 4px;
}

.ftbl-table {
    border: solid var(--ftbl-border-width) var(--ftbl-border-color);
    width: 100%;
    border-collapse: collapse;
}

.ftbl-header {
    border-bottom: solid var(--ftbl-border-width) var(--ftbl-border-color);
}

.ftbl-header-row {

    border-collapse: collapse;
    background-color: #eee;
}

.ftbl-header-group-cell {
    text-align: center;
    font-size: .9em;
    color: #444;
}
.ftbl-header-column-cell {
    text-align: center;
    font-size: .9em;
    color: #666;
}


.ftbl-value-cell {
    text-align: right;
    padding-right: 7px;
    width: 4em; /* Default width for most cells */
}

.ftbl-rightmost-cell-in-group {
    border-right: solid var(--ftbl-border-width) var(--ftbl-border-color);
}

.ftbl-name-cell {
    text-align: left; 
    width: 15em; /* Specific width for the first column/cell */
    border-right: solid var(--ftbl-border-width) var(--ftbl-border-color);

}

.ftbl-data-row {
   height:2.3em;
}

.ftbl-caret {
    height: 14px;
    fill: #555;
    cursor: pointer; /* Optional: adds a pointer cursor on hover */
    margin-right: 5px;
}

.ftbl-caret:hover {
    fill: #000;
}

.ftbl-entity-icon{
    margin-right: 5px;
}
.ftbl-user-wrapper{
    display: flex;
    align-items: center;
    justify-content: left;
}
.ftbl-user-placeholder{
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.ftbl-user-name{
    margin-left: 3px;
}
.ftbl-user-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    text-align: center;
    color: #000;
    font-size: .8em;
    padding: .2em;
    background-color: #EBEBEB ;
    text-transform: uppercase;
    border: 1px solid #9c9c9c ;
}