/* flexiTable.css */
:root {
    --ftbl-border-color: #ccc;
    --ftbl-border-width: 1px;  
    --ftbl-row-height: 2.3em; 
}

.ftbl-table-wrapper {
    padding: 4px;
}

.ftbl-table {
    border: solid var(--ftbl-border-width) var(--ftbl-border-color);
    border-collapse: collapse;
}

.ftbl-header {
    border-bottom: solid var(--ftbl-border-width) var(--ftbl-border-color);
}

.ftbl-header-row {

    border-collapse: collapse;
    background-color: #eee;
}

.ftbl-header-group-cell {
    text-align: center;
    font-size: .9em;
    color: #444;
}
.ftbl-header-column-cell {
    text-align: center;
    font-size: .9em;
    color: #666;
}

.ftbl-row-level-1-expanded {
    background-color: #f5f5f5;
    font-weight: bold;
}
.ftbl-row-level-2-expanded {
    font-weight: bold;
}

.ftbl-value-cell {
    text-align: right;
    padding-right: 7px;
    width: 4.5em; /* Default width for most cells */
}

.ftbl-rightmost-cell-in-group {
    border-right: solid var(--ftbl-border-width) var(--ftbl-border-color);
}

.ftbl-name-cell {
    display: flex;
    align-items: center;
    text-align: left; 
    height:var(--ftbl-row-height);
    width: 15em; /* Specific width for the first column/cell */
    border-right: solid var(--ftbl-border-width) var(--ftbl-border-color);
}

.ftbl-inner-content {
    display: flex;
    align-items: center;
    flex: 1; /* Take available space */
    padding-left: 5px; /* Default padding */
}




.ftbl-data-row {
   height: var(--ftbl-row-height);
}

.ftbl-caret {
    height: 14px;
    fill: #555;
    cursor: pointer; /* Optional: adds a pointer cursor on hover */
    margin-right: 5px;
    flex-shrink: 0;
}

.ftbl-caret:hover {
    fill: #000;
}

.ftbl-entity-icon{
    margin-right: 5px;
}
.ftbl-user-wrapper{
    display: flex;
    align-items: center;
    justify-content: left;
}
.ftbl-user-placeholder{
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}
.ftbl-user-name{
    margin-left: 3px;
}
.ftbl-user-initials {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    text-align: center;
    color: #000;
    font-size: .8em;
    padding: .2em;
    background-color: #EBEBEB ;
    text-transform: uppercase;
    border: 1px solid #9c9c9c ;
}

.ftbl-caret-toggle-all {
    height: 15px;
    cursor: pointer;
    margin: 0 2px;
    fill: #444;
}
.ftbl-caret-toggle-all-enabled {
    cursor: pointer;
    fill: #444
}

.ftbl-caret-toggle-all-disabled {
    cursor: default;
    fill: #999
}

.ftbl-header-toolbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 15px;
}

.ftbl-toolbar-set-wrapper{
    border: solid var(--ftbl-border-width) var(--ftbl-border-color);
    border-radius: 3px;
    padding: 2px;
}

.ftbl-caret-wrapper{
    padding:5px;
}
