.reslysis-pivot-selector-pivotIconsContainer {
    display: flex;
    align-items: center;
    justify-content: start;
}


.reslysis-pivot-selector-iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid transparent; /* Add border to maintain layout */
    fill: #666; /* Default color, can be changed */
}


.reslysis-pivot-selector-icon-separator{
    width: 1px;
    margin: 0 0.4em;
    border-right: solid 1px #ccc;
    height: 14px;
}

.reslysis-pivot-selector-icon-selected {
    fill:#333; /* Selected color */
}

.req-constructor-modeWrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}